* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.welcome {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.welcome .welcome-model {
  background-color: white;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'visible';
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome .welcome-model .p1, .welcome .welcome-model .p2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: visible;
}

.welcome .welcome-model .p1 header, .welcome .welcome-model .p2 header {
  text-align: center;
}

.welcome .welcome-model .p1 form, .welcome .welcome-model .p2 form {
  margin: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.welcome .welcome-model .p1 form .input, .welcome .welcome-model .p2 form .input {
  position: relative;
  font-size: 1.2rem;
  text-align: left;
  margin: 15px 0;
  width: 100%;
  accent-color: #53a1b8;
}

.welcome .welcome-model .p1 form .input input[type=text], .welcome .welcome-model .p2 form .input input[type=text] {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-left: 6px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid #c7c7c7;
}

.welcome .welcome-model .p1 form .input input[type=text] + label, .welcome .welcome-model .p2 form .input input[type=text] + label {
  position: absolute;
  text-transform: uppercase;
  left: 6px;
  top: 15px;
  opacity: 0.5;
  cursor: text;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome .welcome-model .p1 form .input input[type=text]:invalid:not(:placeholder-shown):not(:focus), .welcome .welcome-model .p2 form .input input[type=text]:invalid:not(:placeholder-shown):not(:focus) {
  background-color: #ffcbcb;
}

.welcome .welcome-model .p1 form .input input[type=text]:invalid:focus:not(:placeholder-shown) ~ .requirement, .welcome .welcome-model .p2 form .input input[type=text]:invalid:focus:not(:placeholder-shown) ~ .requirement {
  height: 50px;
}

.welcome .welcome-model .p1 form .input input[type=text]:focus + label, .welcome .welcome-model .p2 form .input input[type=text]:focus + label, .welcome .welcome-model .p1 form .input input[type=text]:not(:placeholder-shown) + label, .welcome .welcome-model .p2 form .input input[type=text]:not(:placeholder-shown) + label {
  color: #53a1b8;
  opacity: 1;
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
  font-size: 0.8rem;
}

.welcome .welcome-model .p1 form .input input[type=text]:focus + label span, .welcome .welcome-model .p2 form .input input[type=text]:focus + label span, .welcome .welcome-model .p1 form .input input[type=text]:not(:placeholder-shown) + label span, .welcome .welcome-model .p2 form .input input[type=text]:not(:placeholder-shown) + label span {
  font-size: 0.8em;
}

.welcome .welcome-model .p1 form .input:first-of-type::after, .welcome .welcome-model .p2 form .input:first-of-type::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #53a1b8;
  position: absolute;
  bottom: 0;
  top: 1.9em;
  left: 0;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome .welcome-model .p1 form .input:first-of-type:focus-within::after, .welcome .welcome-model .p2 form .input:first-of-type:focus-within::after {
  width: 100%;
}

.welcome .welcome-model .p1 form .input:first-of-type:focus-within:not(.input-phone)::after, .welcome .welcome-model .p2 form .input:first-of-type:focus-within:not(.input-phone)::after {
  width: 100%;
}

.welcome .welcome-model .p1 form .input button, .welcome .welcome-model .p2 form .input button {
  font-size: 1.2rem;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #53a1b8;
  color: white;
  cursor: pointer;
}

.welcome .welcome-model .p1 form .input button:hover, .welcome .welcome-model .p2 form .input button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.welcome .welcome-model .p1 form .input-AI, .welcome .welcome-model .p2 form .input-AI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.welcome .welcome-model .p1 form .input-AI [type="checkbox"], .welcome .welcome-model .p2 form .input-AI [type="checkbox"] {
  cursor: pointer;
}

.welcome .welcome-model .p1 form .input-AI .difficulty, .welcome .welcome-model .p2 form .input-AI .difficulty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome .welcome-model .p1 form .input-AI .difficulty select, .welcome .welcome-model .p2 form .input-AI .difficulty select {
  padding: 5px;
  outline: none;
  background-color: white;
  border-color: #c7c7c7;
}

.welcome .welcome-model .p1 form .input-AI .difficulty select option, .welcome .welcome-model .p2 form .input-AI .difficulty select option {
  text-align: center;
}

.welcome .welcome-model .p2 form .input-AI .diff {
  display: initial;
}

.translateX-100 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.translateX100 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h1 {
  margin-bottom: 0;
  font-size: 3.5rem;
}

.header hr {
  opacity: 0.5;
  color: white;
  width: 100%;
}

.header .users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin: 50px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .users .user {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  opacity: 0.5;
  position: relative;
  gap: 10px;
}

.header .users .user .player-name {
  text-align: right;
}

.header .users .user:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .users .user:first-of-type:after {
  right: 0;
}

.header .users .user:last-of-type:after {
  left: 0;
}

.header .users .user.active {
  opacity: 1;
}

.header .users .user.active:after {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  height: 200px;
  width: 200px;
}

.box {
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: white;
}

.box:empty {
  cursor: pointer;
}

.box:nth-child(2), .box:nth-child(1), .box:nth-child(3) {
  border-top: none;
}

.box:nth-child(4), .box:nth-child(1), .box:nth-child(7) {
  border-left: none;
}

.box:nth-child(6), .box:nth-child(3), .box:nth-child(9) {
  border-right: none;
}

.box:nth-child(8), .box:nth-child(7), .box:nth-child(9) {
  border-bottom: none;
}

.result {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
}

.result .result-model {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result .result-model button {
  padding: 5px;
  font-size: 1.2rem;
  background-color: #53a1b8;
  border: none;
  color: white;
  cursor: pointer;
}

.result .result-model button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #53a1b8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
