.result{
    // background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s;
    bottom: 30px;
    // display: none;
    z-index: -1;

    .result-model{
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        transition: 0.3s;
        // transform: translateY(130%);


        button{
            padding: 5px;
            font-size: 1.2rem;
            background-color: #53a1b8;
            border: none;
            color: white;

            cursor: pointer;

            &:hover{
                filter: brightness(110%);
            }
        }
    }
}
.translateY130{
    transform: translateY(130%);
}

.box {
    &.selected {
        background-color: #7ae0ff69;
        
    }
}
