*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #53a1b8;
    align-items: center;
    // justify-content: space-around;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.welcome{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    .welcome-model{
        background-color: white;
        border-radius: 5px;
        // padding: 1
        header{
            text-align: center;

            
        }
        form{
            margin: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-self: center;
            .input{
                position: relative;
                font-size: 1.2rem;
                text-align: left;
                margin: 15px 0;
                width: 100%;
                accent-color: #53a1b8;

                input[type=text]{
                    font-size: 1.2rem;
                    position: relative;
                    width: 100%;
                    padding-top: 10px;
                    padding-left: 6px;
                    padding-bottom: 5px;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #c7c7c7;
                    
                    + label{
                        position: absolute;
                        text-transform: uppercase;
                        left: 6px;
                        top: 15px;
                        opacity: 0.5;
                        cursor: text;
                        transition: 0.3s;
                    }

                    &:invalid:not(:placeholder-shown):not(:focus) {
                        background-color: rgb(255, 203, 203);
                    }
                    &:invalid:focus:not(:placeholder-shown) {
                        & ~ .requirement {
                          height: 50px;
                        }
                      }

                    &:focus + label, &:not(:placeholder-shown) +label{
                        color: #53a1b8;
                        opacity: 1;
                        transform: translateY(-180%);
                        font-size: 0.8rem;
                        span{
                            font-size: 0.8em;
                        }
                    }
                }
                &:first-of-type{
                    &::after{
                        content: "";
                        height: 3px;
                        width: 100%;
                        background-color: #53a1b8;
                        position: absolute;
                        bottom: 0;
                        top: 1.9em;
                        left: 0;
                        width: 0;
                        transition: 0.3s;
                        
                    }
                    &:focus-within::after{
                        width: 100%;
                    }
                    &:focus-within:not(.input-phone)::after{
                        width: 100%;
                    }
                }
                button{
                    font-size: 1.2rem;
                    width: 100%;
                    padding: 8px;
                    border: none;
                    background-color: #53a1b8;
                    color: white;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(110%);
                    }
                   
                }
            }
            .input-AI-1{
                display: flex;
                // align-items: center;
                flex-direction: column;
                gap: 20px;
                transition: 0.3s;


                .diff{
                    flex: 1;
                    width: 100%;
                    // display: flex;
                    display: none;

                    select{
                        padding: 5px;
                        outline: none;
                        // border-radius: 5px;
                        background-color: white;
                        border-color: #c7c7c7;
                        option{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.header{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    h1{
        margin-bottom: 0;
        font-size: 3.5rem;
    }
    hr{
        opacity: 0.5;
        color: white;
        width: 100%;
    }
    .users{
        display: flex;
        width: 300px;
        align-items: center;
        gap: 50px;
        margin: 50px auto;
        transition: 0.3s;
        // position: relative;

        .user{
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            opacity: 0.5;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                height: 2px;
                width: 0%;
                bottom: 0;
                background-color: white;
                transition: 0.3s;
            }
            &:first-of-type{
                &:after{
                    right: 0;
                }
            }
            &:last-of-type{
                &:after{
                    left: 0;
                }
            }
            &.active{
                opacity: 1;
                &:after{
                    width: 100%;
                }
            }
        }

        
        // &.turn-1::after{
        //     transition: 0.3s;
        //     left: 0;
        // }
        // &.turn-2::after{
        //     transition: 0.3s;
        //     right: 0;
        // }
    }
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container{
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 200px;
    width: 200px;
}
.box{
    // background-color: blue;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;

    &:empty{
        cursor: pointer;
    }
    
    &:nth-child(2){
        border-top: none;
    }
    &:nth-child(4){
        border-left: none;
    }
    &:nth-child(6){
        border-right: none;
    }
    &:nth-child(8){
        border-bottom: none;
    }
    &:nth-child(1){
        @extend :nth-child(2), :nth-child(4);
    }
    &:nth-child(3){
        @extend :nth-child(2), :nth-child(6);
    }
    &:nth-child(7){
        @extend :nth-child(8), :nth-child(4);
    }
    &:nth-child(9){
        @extend :nth-child(8), :nth-child(6);
    }

}
.result{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    display: none;

    .result-model{
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;


        button{
            padding: 5px;
            font-size: 1.2rem;
            background-color: #53a1b8;
            border: none;
            color: white;
            cursor: pointer;
            // width: 50%;

            &:hover{
                filter: brightness(110%);
            }
        }
    }
}
