@import 'initials';
@import 'welcome';
@import 'header';
@import 'main';
@import 'result';

body{
    display: flex;
    flex-direction: column;
    background-color: #53a1b8;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


